Makefile
buildpkg.sh
config.h
config.h.in
config.h.in~
config.log
config.status
configure
aclocal.m4
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
openssh.xml
opensshd.init
survey.sh
**/*.0
**/*.o
**/*.lo
**/*.so
**/*.out
**/*.a
autom4te.cache/
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
ssh-sk-helper
sshd
!regress/misc/fuzz-harness/Makefile
!regress/unittests/sshsig/Makefile
tags
regress/authorized_keys_root
regress/check-perm
regress/copy
regress/data
regress/ecdsa-sha2-nistp256
regress/ecdsa-sha2-nistp256.pub
regress/ecdsa-sha2-nistp384
regress/ecdsa-sha2-nistp384.pub
regress/ecdsa-sha2-nistp521
regress/ecdsa-sha2-nistp521.pub
regress/host.ecdsa-sha2-nistp256
regress/host.ecdsa-sha2-nistp384
regress/host.ecdsa-sha2-nistp521
regress/host.sk-ecdsa-sha2-nistp256@openssh.com
regress/host.sk-ssh-ed25519@openssh.com
regress/host.ssh-dss
regress/host.ssh-ed25519
regress/host.ssh-rsa
regress/known_hosts
regress/mkdtemp
regress/modpipe
regress/netcat
regress/regress.log
regress/remote_pid
regress/rsa_ssh2_cr.prv
regress/rsa_ssh2_crnl.prv
regress/setuid-allowed
regress/sk-ecdsa-sha2-nistp256@openssh.com
regress/sk-ecdsa-sha2-nistp256@openssh.com.pub
regress/sk-ssh-ed25519@openssh.com
regress/sk-ssh-ed25519@openssh.com.pub
regress/ssh_config
regress/ssh_config.orig
regress/ssh_proxy
regress/ssh-dss
regress/ssh-dss.pub
regress/ssh-ed25519
regress/ssh-ed25519.pub
regress/ssh-log-wrapper.sh
regress/ssh-rsa
regress/ssh-rsa.pub
regress/ssh.log
regress/sshd_config
regress/sshd_proxy
regress/sshd_proxy_bak
regress/sshd_proxy.orig
regress/sshd-log-wrapper.sh
regress/sshd.log
regress/t6.out1
regress/t6.out2
regress/t7.out.pub
regress/t8.out.pub
regress/t9.out.pub
regress/t10.out.pub
regress/t12.out.pub
regress/timestamp
regress/log/*.log
regress/actual
regress/agent-ca.pub
regress/agent-key.ecdsa-sha2-nistp256-cert.pub
regress/agent-key.ecdsa-sha2-nistp256.pub
regress/agent-key.ecdsa-sha2-nistp384-cert.pub
regress/agent-key.ecdsa-sha2-nistp384.pub
regress/agent-key.ecdsa-sha2-nistp521-cert.pub
regress/agent-key.ecdsa-sha2-nistp521.pub
regress/agent-key.sk-ecdsa-sha2-nistp256@openssh.com-cert.pub
regress/agent-key.sk-ecdsa-sha2-nistp256@openssh.com.pub
regress/agent-key.sk-ssh-ed25519@openssh.com-cert.pub
regress/agent-key.sk-ssh-ed25519@openssh.com.pub
regress/agent-key.ssh-dss-cert.pub
regress/agent-key.ssh-dss.pub
regress/agent-key.ssh-ed25519-cert.pub
regress/agent-key.ssh-ed25519.pub
regress/agent-key.ssh-rsa-cert.pub
regress/agent-key.ssh-rsa.pub
regress/agent.log
regress/allowed_signers
regress/askpass
regress/authkeys_orig
regress/authorized_keys_root.bak
regress/authorized_principals_root
regress/command
regress/copy.1
regress/data.2
regress/done
regress/ecdsa-sha2-nistp256-agent-cert.pub
regress/ecdsa-sha2-nistp256-agent-private
regress/ecdsa-sha2-nistp256-agent-private-cert.pub
regress/ecdsa-sha2-nistp256-agent-private.pub
regress/ecdsa-sha2-nistp256-agent.pub
regress/ecdsa-sha2-nistp256-cert-fromsig.pub
regress/ecdsa-sha2-nistp256-cert-strip.pub
regress/ecdsa-sha2-nistp256-cert.pub
regress/ecdsa-sha2-nistp256-fromsig.pub
regress/ecdsa-sha2-nistp256-strip.pub
regress/ecdsa-sha2-nistp384-agent-cert.pub
regress/ecdsa-sha2-nistp384-agent-private
regress/ecdsa-sha2-nistp384-agent-private-cert.pub
regress/ecdsa-sha2-nistp384-agent-private.pub
regress/ecdsa-sha2-nistp384-agent.pub
regress/ecdsa-sha2-nistp384-cert-fromsig.pub
regress/ecdsa-sha2-nistp384-cert-strip.pub
regress/ecdsa-sha2-nistp384-cert.pub
regress/ecdsa-sha2-nistp384-fromsig.pub
regress/ecdsa-sha2-nistp384-strip.pub
regress/ecdsa-sha2-nistp521-agent-cert.pub
regress/ecdsa-sha2-nistp521-agent-private
regress/ecdsa-sha2-nistp521-agent-private-cert.pub
regress/ecdsa-sha2-nistp521-agent-private.pub
regress/ecdsa-sha2-nistp521-agent.pub
regress/ecdsa-sha2-nistp521-cert-fromsig.pub
regress/ecdsa-sha2-nistp521-cert-strip.pub
regress/ecdsa-sha2-nistp521-cert.pub
regress/ecdsa-sha2-nistp521-fromsig.pub
regress/ecdsa-sha2-nistp521-strip.pub
regress/expect
regress/expect_a
regress/expect_b
regress/expect_c
regress/expect_d
regress/expect_e
regress/expect_key
regress/expect_keys
regress/expect_list
regress/expect_list.pre
regress/hkr.ecdsa-sha2-nistp256
regress/hkr.ecdsa-sha2-nistp256.pub
regress/hkr.ecdsa-sha2-nistp384
regress/hkr.ecdsa-sha2-nistp384.pub
regress/hkr.ecdsa-sha2-nistp521
regress/hkr.ecdsa-sha2-nistp521.pub
regress/hkr.sk-ecdsa-sha2-nistp256@openssh.com
regress/hkr.sk-ecdsa-sha2-nistp256@openssh.com.pub
regress/hkr.sk-ssh-ed25519@openssh.com
regress/hkr.sk-ssh-ed25519@openssh.com.pub
regress/hkr.ssh-dss
regress/hkr.ssh-dss.pub
regress/hkr.ssh-ed25519
regress/hkr.ssh-ed25519.pub
regress/hkr.ssh-ed25519.pub.old
regress/hkr.ssh-rsa
regress/hkr.ssh-rsa.pub
regress/hkr.ssh-rsa.pub.old
regress/host_a
regress/host_a.pub
regress/host_b
regress/host_b.pub
regress/host_c
regress/host_c.pub
regress/host_ca
regress/host_ca.pub
regress/host_d
regress/host_d-cert.pub
regress/host_d.pub
regress/host_e
regress/host_e-cert.pub
regress/host_e.pub
regress/host_krl_ca
regress/host_krl_cert
regress/host_krl_empty
regress/host_krl_plain
regress/host_revoked_ca
regress/host_revoked_cert
regress/host_revoked_empty
regress/host_revoked_plain
regress/host_x
regress/host_x.pub
regress/key.dsa-1024
regress/key.dsa-1024.pub
regress/key.ecdsa-256
regress/key.ecdsa-256.pub
regress/key.ecdsa-384
regress/key.ecdsa-384.pub
regress/key.ecdsa-521
regress/key.ecdsa-521.pub
regress/key.ecdsa-sk
regress/key.ecdsa-sk.pub
regress/key.ed25519-512
regress/key.ed25519-512.pub
regress/key.ed25519-sk
regress/key.ed25519-sk.pub
regress/key.rsa-2048
regress/key.rsa-2048.pub
regress/key.rsa-3072
regress/key.rsa-3072.pub
regress/keys-command-args
regress/kh.expect
regress/kh.hashed
regress/kh.hashed.old
regress/kh.hashed.orig
regress/kh.host-a
regress/kh.host-a.pub
regress/kh.host-a2
regress/kh.host-a2.pub
regress/kh.host-b
regress/kh.host-b.pub
regress/kh.host-b2
regress/kh.host-b2.pub
regress/kh.host-c
regress/kh.host-c.pub
regress/kh.host-d
regress/kh.host-d.pub
regress/kh.host-e
regress/kh.host-e.pub
regress/kh.host-f
regress/kh.host-f.pub
regress/kh.hosts
regress/kh.hosts.old
regress/kh.hosts.orig
regress/kh.invalid
regress/kh.invalid.orig
regress/kh.result
regress/known_hosts.old
regress/knownhosts_command
regress/krl-all
regress/krl-ca
regress/krl-cert
regress/krl-empty
regress/krl-hash
regress/krl-keyid
regress/krl-keyid-wild
regress/krl-keys
regress/krl-serial
regress/krl-serial-wild
regress/krl-sha1
regress/krl-sha256
regress/no_identity_config
regress/revoked_keys
regress/revoked-0001
regress/revoked-0001-cert.pub
regress/revoked-0001.pub
regress/revoked-0004
regress/revoked-0004-cert.pub
regress/revoked-0004.pub
regress/revoked-0005
regress/revoked-0005-cert.pub
regress/revoked-0005.pub
regress/revoked-0009
regress/revoked-0009-cert.pub
regress/revoked-0009.pub
regress/revoked-0010
regress/revoked-0010-cert.pub
regress/revoked-0010.pub
regress/revoked-0014
regress/revoked-0014-cert.pub
regress/revoked-0014.pub
regress/revoked-0016
regress/revoked-0016-cert.pub
regress/revoked-0016.pub
regress/revoked-0029
regress/revoked-0029-cert.pub
regress/revoked-0029.pub
regress/revoked-0049
regress/revoked-0049-cert.pub
regress/revoked-0049.pub
regress/revoked-0050
regress/revoked-0050-cert.pub
regress/revoked-0050.pub
regress/revoked-0051
regress/revoked-0051-cert.pub
regress/revoked-0051.pub
regress/revoked-0090
regress/revoked-0090-cert.pub
regress/revoked-0090.pub
regress/revoked-0499
regress/revoked-0499-cert.pub
regress/revoked-0499.pub
regress/revoked-0500
regress/revoked-0500-cert.pub
regress/revoked-0500.pub
regress/revoked-0510
regress/revoked-0510-cert.pub
regress/revoked-0510.pub
regress/revoked-0520
regress/revoked-0520-cert.pub
regress/revoked-0520.pub
regress/revoked-0550
regress/revoked-0550-cert.pub
regress/revoked-0550.pub
regress/revoked-0799
regress/revoked-0799-cert.pub
regress/revoked-0799.pub
regress/revoked-0800
regress/revoked-0800-cert.pub
regress/revoked-0800.pub
regress/revoked-0999
regress/revoked-0999-cert.pub
regress/revoked-0999.pub
regress/revoked-1010
regress/revoked-1010-cert.pub
regress/revoked-1010.pub
regress/revoked-1011
regress/revoked-1011-cert.pub
regress/revoked-1011.pub
regress/revoked-ca
regress/revoked-ca.pub
regress/revoked-ca2
regress/revoked-ca2.pub
regress/revoked-hash
regress/revoked-keyid
regress/revoked-serials
regress/revoked-sha1
regress/revoked-sha256
regress/scp-ssh-wrapper.scp
regress/sftp-server.log
regress/sftp-server.sh
regress/sftp.log
regress/sigca-key
regress/sigca-key.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-agent-cert.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-agent-private
regress/sk-ecdsa-sha2-nistp256@openssh.com-agent-private-cert.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-agent-private.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-agent.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-cert-fromsig.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-cert-strip.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-cert.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-fromsig.pub
regress/sk-ecdsa-sha2-nistp256@openssh.com-strip.pub
regress/sk-ssh-ed25519@openssh.com-agent-cert.pub
regress/sk-ssh-ed25519@openssh.com-agent-private
regress/sk-ssh-ed25519@openssh.com-agent-private-cert.pub
regress/sk-ssh-ed25519@openssh.com-agent-private.pub
regress/sk-ssh-ed25519@openssh.com-agent.pub
regress/sk-ssh-ed25519@openssh.com-cert-fromsig.pub
regress/sk-ssh-ed25519@openssh.com-cert-strip.pub
regress/sk-ssh-ed25519@openssh.com-cert.pub
regress/sk-ssh-ed25519@openssh.com-fromsig.pub
regress/sk-ssh-ed25519@openssh.com-strip.pub
regress/slow-sftp-server.sh
regress/ssh_output
regress/ssh_proxy_noid
regress/ssh_proxy.bak
regress/ssh-add.log
regress/ssh-agent.log
regress/ssh-dss-agent-cert.pub
regress/ssh-dss-agent-private
regress/ssh-dss-agent-private-cert.pub
regress/ssh-dss-agent-private.pub
regress/ssh-dss-agent.pub
regress/ssh-dss-cert-fromsig.pub
regress/ssh-dss-cert-strip.pub
regress/ssh-dss-cert.pub
regress/ssh-dss-fromsig.pub
regress/ssh-dss-strip.pub
regress/ssh-ed25519-agent-cert.pub
regress/ssh-ed25519-agent-private
regress/ssh-ed25519-agent-private-cert.pub
regress/ssh-ed25519-agent-private.pub
regress/ssh-ed25519-agent.pub
regress/ssh-ed25519-cert-fromsig.pub
regress/ssh-ed25519-cert-strip.pub
regress/ssh-ed25519-cert.pub
regress/ssh-ed25519-fromsig.pub
regress/ssh-ed25519-strip.pub
regress/ssh-rsa-agent-cert.pub
regress/ssh-rsa-agent-private
regress/ssh-rsa-agent-private-cert.pub
regress/ssh-rsa-agent-private.pub
regress/ssh-rsa-agent.pub
regress/ssh-rsa-cert-fromsig.pub
regress/ssh-rsa-cert-strip.pub
regress/ssh-rsa-cert.pub
regress/ssh-rsa-fromsig.pub
regress/ssh-rsa-strip.pub
regress/sshd_config_minimal
regress/sshd_config.orig
regress/sshd_proxy_host_a
regress/sshd_proxy_host_b
regress/sshd_proxy_host_c
regress/sshd_proxy_host_d
regress/sshd_proxy_host_e
regress/sshd_proxy.bak
regress/sshsig-agent-ecdsa-sha2-nistp256-cert.sig
regress/sshsig-agent-ecdsa-sha2-nistp256.sig
regress/sshsig-agent-ecdsa-sha2-nistp384-cert.sig
regress/sshsig-agent-ecdsa-sha2-nistp384.sig
regress/sshsig-agent-ecdsa-sha2-nistp521-cert.sig
regress/sshsig-agent-ecdsa-sha2-nistp521.sig
regress/sshsig-agent-sk-ecdsa-sha2-nistp256@openssh.com-cert.sig
regress/sshsig-agent-sk-ecdsa-sha2-nistp256@openssh.com.sig
regress/sshsig-agent-sk-ssh-ed25519@openssh.com-cert.sig
regress/sshsig-agent-sk-ssh-ed25519@openssh.com.sig
regress/sshsig-agent-ssh-dss-cert.sig
regress/sshsig-agent-ssh-dss.sig
regress/sshsig-agent-ssh-ed25519-cert.sig
regress/sshsig-agent-ssh-ed25519.sig
regress/sshsig-agent-ssh-rsa-cert.sig
regress/sshsig-agent-ssh-rsa.sig
regress/sshsig-ecdsa-sha2-nistp256-cert.sig
regress/sshsig-ecdsa-sha2-nistp256.sig
regress/sshsig-ecdsa-sha2-nistp384-cert.sig
regress/sshsig-ecdsa-sha2-nistp384.sig
regress/sshsig-ecdsa-sha2-nistp521-cert.sig
regress/sshsig-ecdsa-sha2-nistp521.sig
regress/sshsig-sk-ecdsa-sha2-nistp256@openssh.com-cert.sig
regress/sshsig-sk-ecdsa-sha2-nistp256@openssh.com.sig
regress/sshsig-sk-ssh-ed25519@openssh.com-cert.sig
regress/sshsig-sk-ssh-ed25519@openssh.com.sig
regress/sshsig-ssh-dss-cert.sig
regress/sshsig-ssh-dss.sig
regress/sshsig-ssh-ed25519-cert.sig
regress/sshsig-ssh-ed25519.sig
regress/sshsig-ssh-rsa-cert.sig
regress/sshsig-ssh-rsa.sig
regress/user_a
regress/user_a.pub
regress/user_b
regress/user_b.pub
regress/user_c
regress/user_c.pub
regress/user_ca
regress/user_ca.pub
regress/user_d
regress/user_d.pub
regress/user_e
regress/user_e.pub
regress/user_x
regress/user_x.pub
regress/wrong-key
regress/wrong-key.pub
regress/unittests/authopt/test_authopt
regress/unittests/bitmap/test_bitmap
regress/unittests/conversion/test_conversion
regress/unittests/hostkeys/test_hostkeys
regress/unittests/kex/test_kex
regress/unittests/match/test_match
regress/unittests/misc/test_misc
regress/unittests/sshbuf/test_sshbuf
regress/unittests/sshkey/test_sshkey
regress/unittests/sshsig/test_sshsig
regress/unittests/utf8/test_utf8
client
server
.vscode/